<link rel="stylesheet" href="../assets/style/match/match.css">

<div class="container">
  <div class="row">
    <div class="col-10 match">
      table
    </div>
    <div class="col-2 spornsor">
      Sponsor
    </div>
  </div>
</div>